.modal-information {
  opacity: 0;
  visibility: hidden;
  transition-property: opacity, visibility;
  transition-duration: .3s;

  &.-show {
    opacity: 1;
    visibility: visible;
  }

  .container,
  .overlay {
    left: 0;
    position: fixed;
    top: 0;
    height: 100%;
    width: 100%;
  }
  
  .container {
    background-color: $light-color;
    border-radius: 3px;
    box-sizing: border-box;
    left: 50%;
    padding: 40px 30px;
    top: 150px;
    transform: translateX(-50%);
    z-index: 2;
    height: auto;
  }

  h2 {
    font-size: 32px;
    margin-bottom: 20px;
    display: block;
    color: $dark-color;
  }

  p {
    display: block;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 30px;

    strong {
      color: $dark-color;
      text-decoration: underline;
    }
  }

  .-icon {
    position: absolute;
    right: 20px;
    top: 0;
  }

  button {
    cursor: pointer;
    background-color: $button-highlight;
    border-radius: 3px;
    box-sizing: border-box;
    color: $light-color;
    margin-top: 20px;
    padding: 10px;
  }

  
  .overlay {
    cursor: pointer;
    background-color: #0000009c;
    z-index: 1;
  }
}